{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1 class="center">Welcome to Youtube-DL-web</h1>
      <p><img class="center" src="{{url_for('static', filename='icon.svg')}}" alt="icon"></p>
      <p>View project on <a href="https://github.com/lucca-ruhland/youtube-dl-web"> github </a>.</p>
      <p>
        <a class="btn btn-lg btn-default" role="button"
           href="https://github.com/lucca-ruhland/youtube-dl-web" >Show docs</a>
      </p>
    </div>
   </div>
{%- endblock %}